<%= link_to "Get Klout Score Serially", :action => "update_klout_serially" %> |
<%= link_to "Get Klout Score SimpleWorker", :action => "update_klout_parallel" %> |
<%= link_to "Delete Klout Scores", :action => "delete_klouts" %> |
<%= link_to "Import Users into DB", :action => "import_users" %>

<br /><br />

Serial: <span style="color: red; font-size: 16px; font-weight: bold;"><%= @klout_count %></span><br /><br />
Parallel: <span style="color: red; font-size: 16px; font-weight: bold;"><%= @klout_sw_count %></span><br /><br />

<h2>MongoDB Users (<%= @users.count %>)</h2>

<div id="user_list">

  <table cellpadding="0" id="klout-table">
    <thead>
    <tr>
      <th>User Name</th>
      <th>Twitter Name</th>
      <th>Klout Score (SW)</th>
      <th>Klout Score (Serial)</th>
    </tr>
    </thead>

    <% @users.each do |u| %>
      <tr>
        <td><%= u.first_name + " " + u.last_name %></td>
        <td><%= link_to u.twitter_username || "no twitter name yet", "http://www.klout.com/#{u.twitter_username}", :target => :new %></td>
        <td>[<span id="score_sw_<%= u.id %>" style="font-weight: bold;"><%= u.klout_score_sw.round unless u.klout_score_sw.nil? %></span>]
        <td>[<span id="score_<%= u.id %>" style="font-weight: bold;"><%= u.klout_score.round unless u.klout_score.nil? %></span>]</td>
        </td>
      </tr>
    <% end %>

  </table>
</div>



<script type="text/javascript">


  //$.timer(10000, function (timer) {
  <%# @users.each do |u| %>
  //display_klout("<%# u.id %>");
  <%# end %>
  //});


  function display_klout(user_id) {
    $.ajax({
      type: "GET",
      url: "/users/klout_score/" + user_id,
      success: function(data) {
        $('#score_' + user_id).html(data);
      }
    });
  }

</script>

