<%= link_to "MongoDB Users", :action => :index %> | <%= link_to "Twitter Friends", :action => :twitter_friends %><br />

<br /><hr /><br />

<%= link_to "Get Klout Score Serially", :action => "update_klout_serially" %> <br /><br />

<%= link_to "Get Klout Score SimpleWorker", :action => "update_klout_parallel" %> <br /><br />

<%= link_to "Delete Klout Scores", :action => "delete_klouts" %> <br />

<h2>MongoDB Users (<%= @users.count %>)</h2>

<div id="user_list">

  <table>
    <thead>
    <tr>
      <th>Klout Score - Serial</th>
      <th>User Name</th>
      <th>Twitter Name</th>
    </tr>
    </thead>

    <% @users.each do |u| %>
      <tr>
        <td>[<span id="score_<%= u.id %>" style="font-weight: bold;"><%= u.klout_score.round unless u.klout_score.nil? %></span>]
        </td>
        <td><%= u.first_name + " " + u.last_name %></td>
        <td>(<%= link_to u.twitter_username || "no twitter name yet", "http://www.twitter.com/#{u.twitter_username}", :target => :new %>)</td>
      </tr>
    <% end %>

  </table>
</div>



<script type="text/javascript">


  //$.timer(10000, function (timer) {
  <% @users.each do |u| %>
  //display_klout("<%= u.id %>");
  <% end %>
  //});


  function display_klout(user_id) {
    $.ajax({
      type: "GET",
      url: "/users/klout_score/" + user_id,
      success: function(data) {
        $('#score_' + user_id).html(data);
      }
    });
  }

</script>

