<!DOCTYPE html>
<html>
<head>
  <title>Mongo1</title>
  <%= stylesheet_link_tag :all %>

  <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAhes0f80sBcwL-h5xCNkkgxQBmiBpQeSpIciQPfZ5Ss-a60KXIRQOVvqzsNpqzhmG9tjky_5rOuaeow"></script>

  <script type="text/javascript">
    google.load("jquery", "1");
    google.load("jqueryui", "1");
  </script>

  <%= javascript_include_tag "application",
                             "jquery.timer"
  %>

  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">

</div>


<div id="body">
  <span id="flash"><%= flash_messages %></span>
  <%= yield %>
</div>


<div id="footer">
  <hr />
  <%= @twitter.get_rate_limit + " TwitterDoor API request(s) remaining this hour" %>
</div>

</body>
</html>
